<div id='image-container' style='background-image: url("<%= @images.first.image_file.url(:background) %>")'>
</div>

<div id='overlay'>
  <div id='main-nav'>
    <a href='#youtube'><%= fa_icon 'video-camera 2x', class: 'white video-camera' %></a>
    <a href='#playlist'><%= fa_icon 'music 2x', class: 'white music' %></a>
    <a href='#story'><%= fa_icon 'file-text-o 2x', class: 'white stories' %></a>
  </div>
  <div id='image-controls' class='controls'>
    <ul>
      <% @images.each do |image| %>
        <li data-image="<%= image.image_file.url(:background) %>">&bull;</li>
      <% end %>
    </ul>
  </div>
</div>

<div id='other-things'>
  <div id='playlist'>
    <% @playlists.each do |playlist| %>
      <%= playlist.embed_code.html_safe %>
    <% end %>
  </div>

  <div id='youtube'>
    <iframe width="480" height="360" src="//www.youtube.com/embed/lV5r9lHoMFI" frameborder="0" allowfullscreen></iframe>
  </div>

  <div id='story'>
    <% if @stories.first %>
      <%= simple_format @stories.first.body.html_safe %>
    <% end %>
  </div>

  <div id='story-controls' class='controls'>
    <ul>
      <% @stories.each do |story| %>
        <li data-story_id="<%= story.id %>">&bull;</li>
      <% end %>
    </ul>
  </div>


</div>

